*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.4em;
}
body{
  background-color: #504A59;
}
/************************************************** header */
.eternal_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: 1px solid #D9D7CC;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.eternal_logo {
    width: 160px;
}
.eternal_logo img {
    width: 100%;
    display: flex;
    margin: 5px 0px 0px 0px;
}
.top_nav {
    display: flex;
    align-items: flex-end;
}
.main_menu {
    width: 400px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.shop_all a,
.new_arrival a,
.restock a{
    text-decoration: none;
}
.shop_all a:hover,
.new_arrival a:hover,
.restock a:hover{
    color: #504A59;
    text-decoration: underline;
}
.shop_all {
  position: relative;
  padding-bottom: 15px;
  display: block;
}
.shop_all:hover .Classification{
  display: block;
}
.Classification{
  width: 90px;
  display: none;
  position: absolute;
  top: 41px;
  background-color: #ffffff;
}
.Classification_button{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
  background-color: #D9D7CC;
}
.Classification_button:hover{
  background-color: #BF9B8E;
}

.Classification_button a{
  display: block;
  color: #504A59;
}
.Classification_button a:hover{
  text-decoration: none;
}

.text_shop,
.text_new,
.text_restock {
    color: #504A59;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
}
.header_box {
    display: flex;
    align-items: center;
}
.eternal_search {
    width: 150px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.eternal_search input#search {
    width: 150px;
    height: 35px;
    background: #D9D7CC;
    border: none;
    font-size: 10pt;
    float: left;
    color: #504A59;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
  }
  .eternal_search .search_icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    z-index: 1;
    color: #504A59;
  }
  .eternal_search input#search:hover,
  .eternal_search input#search:focus,
  .eternal_search input#search:active{
    outline:none;
    background: #D9D7CC;
  }
  .member,
  .shopping_bag {
    width: 15px;
    margin-left: 20px;
  }
  .member img,
  .shopping_bag img {
    width: 100%;
  }
  /********************************************** footer */
  .eternal_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #D9D7CC;
    background-color: #ffffff;
  }
  .button_nav{
    width: 1000px;
  }
  .information_menu{
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
  }
  ul>li{
    list-style-type: none;
  }
  li a{
      text-decoration: none;
      color: #222226;
  }
  li a:hover {
      color: #222226;
      text-decoration: underline;
  }
  .text_instagram{
    margin-right: 20px;
  }
  .button_tag{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .copyright{
    font-size: 5px;
  }
  /* ***************************************login */
  .login{
    display: flex;
    background-color: #504A59;
  }
  .login_page {
    width: 70%;
    height: 600px;
  }
  .login_menu{
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: #D9D7CC;
    border-radius: 15% 1%;
    padding: 4% 5% 5% 5%;
  }
  .login_title{
    border-bottom: #504A59 1px solid;
  }
  .login_welcome{
    text-align: center;
    color: #504A59;
  }
  .login_method{
    display: block;
    margin-top: 5%;
  }
  .quick_login_btn{
    width: 100%;
    position: relative;
  }
  .quick_login_btn input.quick_login {
    width: 100%;
    height: 35px;
    background: #504A59;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #D9D7CC;
    border-radius: 3px;
    margin-top: 2%;
  }
    .quick_login_icon {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2;
    margin-left: 6%;
  }
  .line_icon{
    position: absolute;
    top: 13px;
    left: 0;
    z-index: 2;
    margin-left: 6%;
  }
  .line_icon img{
    width: 20px;
  }
  .login_and_forgot{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .login_method{
    display: block;
  }
  .forgot_password{
    background-color: #D9D7CC;
    color: #504A59;
    border: 1px solid #504A59;
    padding: 1px 5px;
  }
  .login_box{
    display: flex;
    flex-direction: column;
  }
  .login_box ::placeholder{
    font-size: 5px;
  }
  .account_number,
  .password{
    margin-top: 8px;
    height: 25px;
    background-color: #D9D7CC;
    border: none;
    outline: none;
    border-bottom: #504A59 1px solid;
  }
  .login_btn{
    margin-top: 20px;
    height: 35px;
    background: #504A59;
    border: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #D9D7CC;
    border-radius: 3px;
  }
  .login_btn:hover{
    background-color: #D9D7CC;
    color: #504A59;
    border: 1px solid #504A59;
  }
  /******************************************* log_up_page*/
  .log_up_page{
    width: 30%;
    padding: 2%;
    text-align: center;
    background-image: url("images/log_up_background.jpg");
    background-size: 100% 100%;
    background-repeat:repeat-y;
  }
  .logup_title{
    margin-top: 100px;
    color: #504A59;
  }
  .logup_text{
    font-size: 16px;
    margin-top: 50px;
  }
.logup_btn{
    width: 265px;
    height: 35px;
    background: #504A59;
    border: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #D9D7CC;
    border-radius: 3px;
    margin-top: 140px;
}
.logup_btn:hover{
    background-color: #D9D7CC;
    color: #504A59;
    border: 1px solid #504A59;
}