*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.4em;
}
/************************************************** header */
.eternal_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-bottom: 1px solid #D9D7CC;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.eternal_logo {
  width: 12.5%;
}
.eternal_logo img {
  width: 100%;
  display: flex;
  margin: 5px 0px 0px 0px;
}
.top_nav {
  width: 31.25%;
  display: flex;
}
.main_menu {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.shop_all a,
.new_arrival a,
.restock a{
  text-decoration: none;
}
.shop_all a:hover,
.new_arrival a:hover,
.restock a:hover{
  color: #504A59;
  text-decoration: underline;
}
.shop_all,
.new_arrival,
.restock {
position: relative;
padding-bottom: 4%;
display: block;
}
.shop_all:hover .Classification{
display: block;
}
.Classification{
width: 100%;
display: none;
position: absolute;
top: 100%;
background-color: #ffffff;
}
.Classification_button{
padding-top: 5%;
padding-bottom: 5%;
padding-left: 10%;
margin: 0;
background-color: #D9D7CC;
}
.Classification_button:hover{
background-color: #BF9B8E;
}

.Classification_button a{
display: block;
color: #504A59;
}
.Classification_button a:hover{
text-decoration: none;
}

.text_shop,
.text_new,
.text_restock {
  color: #504A59;
  font-size: 16px;
  padding: 0 15px 0 15px;
}
.header_box {
  display: flex;
  align-items: center;
  width: 20%;
}
.eternal_search {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.eternal_search input#search {
  width: 100%;
  height: 35px;
  background: #D9D7CC;
  border: none;
  font-size: 10px;
  float: left;
  color: #504A59;
  padding-left: 25%;
  padding-right: 8%;
  border-radius: 20px;
}
.eternal_search .search_icon {
  position: absolute;
  margin-left: 10%;
  margin-top: 4%;
  z-index: 1;
  color: #504A59;
}
.eternal_search input#search:hover,
.eternal_search input#search:focus,
.eternal_search input#search:active{
  outline:none;
  background: #D9D7CC;
}
.member,
.shopping_bag {
  width: 8%;
  margin-left: 6%;
}
.member img,
.shopping_bag img {
  width: 100%;
}
  /********************************************** footer */
  .eternal_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #D9D7CC;
    background-color: #ffffff;
  }
  .button_nav{
    width: 78.125%;
  }
  .information_menu{
    margin: 1.5% 0 1% 0;
    display: flex;
    justify-content: space-around;
  }
  ul>li{
    list-style-type: none;
  }
  li a{
      text-decoration: none;
      color: #222226;
  }
  li a:hover {
      color: #222226;
      text-decoration: underline;
  }
  .button_tag{
    width: 78.125%;
    display: flex;
    justify-content: center;
    margin-bottom: .6%;
  }
  .copyright{
    font-size: 5px;
  }
/***********************************************shop_all_page */
.shop_all_page{
  display: flex;
}
.shop_all_nav{
  width: 200px;
  background-color: #BF9B8E;
}
.shop_all_nav a{
  color: #222226;
  text-decoration: none;
}
.shop_all_nav a:hover{
  text-decoration: underline;
}
.large_category{
  padding: 30px 0 20px 40px;
}
.nav_category{
  font-size: 16px;
}
.nav_category_Details{
  margin-top: 10px;
}
.nav_category_Details a{
  display: block;
  margin-top: 3px;
}
.shop_all_product{
  width: 100%;
  padding-top: 25px;
  background-color: #D9D7CC;
}
.shop_all_breadcrumb{
  margin-left: 60px;
}
.product_row{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.product_pic{
  width: 180px;
  margin: 10px;
  text-align: center;
}
.product_pic a{
  text-decoration: none;
  color: #222226;
}
.product_pic img{
  width: 100%;
}
.product_name{
  margin-top: 5px;
}
.number_of_pages{
  display: flex;
  justify-content: center;
  margin: 50px;
}
.number_of_pages a{
  text-decoration: none;
  color: #222226;
}
.number_of_pages a:hover{
  text-decoration: underline;
}
.page{
  margin: 10px;
}